extends layout 

block content 
  h1(style="text-align: center; font-size: 30px; color: gray; font-weight: bold") Sign up 
  form(action='', method="POST")
    label(for="first_name") First name: 
    input(type="text", required=true, placeholder="First name", name="first_name")
    br 
    br
    label(for="last_name") Last name: 
    input(type="text", required=true, placeholder="Last name", name="last_name")
    br 
    br
    label(for="username") Username: 
    input(type="text", required=true, placeholder="Enter your username", name="username")
    br 
    br
    label(for="password") Password: 
    input(type="password", required=true, placeholder="Enter your password", name="password")
    br 
    br
    label(for="password2") Confirm your password: 
    input(type="password", required=true, placeholder="Enter your password", name="password2")
    br 
    br
    button(type="submit") Submit